@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  background-image: radial-gradient(circle, #350e40, #080000);
  margin: 0;
  min-height: 100vh;
}

/* Ensure fonts are applied globally where needed */
h2, label, button {
  font-family: "Alatsi", sans-serif;
}

/* Footer Button Styles */
.footer-button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 10vh;
    margin-right: 10vh;
    color: #333333;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    cursor: pointer;
  }
  
  /* Responsiveness for smaller screens */
  @media (max-width: 768px) {
    h2 {
      margin-left: 5vh !important;
      font-size: 5vh !important;
    }
  
    label {
      margin-left: 5vh !important;
      font-size: 3vh !important;
    }
  
    input[type="email"],
    input[type="password"] {
      margin-left: 5vh !important;
      width: 40vh !important;
      font-size: 20px !important;
    }
  
    .login-button {
      margin-left: 5vh !important;
      width: 20vh !important;
      font-size: 20px !important;
    }
  
    .logo {
      display: none !important;
    }
  }
  .footer-button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 10vh;
    margin-right: 10vh;
    color: #333333;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    cursor: pointer;
  }
  
  .footer-button:hover {
    text-decoration: underline;
  }